*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body{
    background-color: black;
    color: white;
    font-family: 'Roboto';
}

img{
/* filter: invert(1); */
margin-bottom: 22px;
}

.left{
    width: 24vw;
    padding: 8px;
}

.right{
    width: 74vw;
    margin-top: 8px;
}

.e-9640-icon{
    filter: invert(1);
}

.home ul{
    padding: 5px;
}

.home ul li{
    list-style-type: none;
    width: 30 px;
    display: flex;
    gap: 12px;
    margin-bottom: 14px;
}

.home{
    padding: 10px;
    
}
.lib{
    filter: invert(1);
    width: 18px;
}


.library{
    margin-top: 16px;
    padding: 15px;
    min-height: 62vh;
    position: relative;
}


.library ul{
    display: flex;
    list-style: none;
    gap: 12px;
}

.library-list {
    display: flex;
    align-items: center; 
    padding: 0; 
}

.library-item {
    display: flex; 
    align-items: center; 
    gap: 8px; 
}

.plus {
    margin-left: auto; 
}

.links a{
    text-decoration: none;
    color: grey;
    font-size: 12px;
}

.links{
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    
}

.header > *{
    padding: 15px;
}

.playlists{
    padding: 0px 18px;

}

.cardContainer{
    display: flex;
}

.playlists .card{
    margin: 22px 10px;
    width: 180px;
    padding: 5px;
    border-radius: 7px;
    background-color: #252525;

}

.card img{
    width: 100%;
    object-fit: contain;
    margin-bottom: 0;
}

.card p{
    margin-top: 5px;
    font-size: 12px;
}